<div class="container">






<% for stock in @stock %>
<div class="box">
<p>ID: <%=stock.id%></p>
<p>Item: <%=stock.item_name%> </p>
<p>Category: <%=stock.item_category%></p>
<p>Price: <%=stock.price%></p>
<p>Quantity: <%=stock.quantity%></p>


<form action="/stock/<%=stock.id%>/show" method="get">
  <input class="btn" type="submit" value="View Item" />
</form>


</div>

<% end %>

</div>
