<div class="container">






  <% for stock in @stock %>
  <div class="box2">

    <p>Item: <%=stock.item_name%> </p>
    <p>ID: #<%=stock.id%></p>
    <p>Category: <%=stock.item_category%></p>
    <p>Price: £<%=stock.price%></p>
    <p>Quantity: <%=stock.quantity%></p>
    <% if stock.quantity < 2 %>
    <h3> Stock currently low! </h3>

    <%end%>


    <form action="/stock/<%=stock.id%>/show" method="get">
      <input class="btn" type="submit" value="View Item" />
    </form>


  </div>

  <% end %>

</div>
