
<div class="container">



  <div class="box4">

    <p>Item Name: <%=@stock.item_name%> </p>
    <p>Item ID: <a href="/stock/<%=@stock.id%>/show">#<%=@stock.id%></a></p>
    <p>Category: <%=@stock.item_category%></p>
    <p>Price: £<%=@stock.price%></p>
    <p>Quantity: <%=@stock.quantity%></p>

    <pre>
      <form action="/stock/<%= @stock.id %>/delete" method="POST">
        <input class="btn" type="submit" value="Delete" />
      </form>
      <form action="/stock/<%= @stock.id %>/update" method="get">
        <input class="btn" type="submit" value="Edit" />
      </form>

    </div>

  </div>
