<div class="container">


<% for rental in @rentals %>
<div class="box">


<p>Reference: <%=rental.rental_reference%> </p>
<p>Item No: <%=rental.rental_items%></p>
<p>Price: <%=rental.rental_price%></p>
<p>Rental Date: <%= rental.rental_date %></p>
<p>Customer No.: <%= rental.customer_id %></p>

<form action="/rentals/<%=rental.id%>/show" method="get">
  <input class="btn" type="submit" value="View Rental" />
</form>


</div>

<% end %>
</div>
