<h1>All Rental Information</h1>

<form action="/rentals/new" method="get">
  <input class="btn" type="submit" value="Add New Rental" />
</form>

<% for rental in @rentals %>
<p>ID: <%=rental.id%></p>
<p>Reference: <%=rental.rental_reference%> </p>
<p>Rental Items: <%=rental.rental_items%></p>
<p>Price: <%=rental.rental_price%></p>
<p>Rental Date: <%= rental.rental_date %></p>
<p>Customer: <%= rental.customer_id %></p>
<p>Stock ID: <%= rental.stock_id%></p>


<form action="/rentals/<%=rental.id%>/delete" method="POST">
  <input class="btn" type="submit" value="delete" />
</form>
<form action="/rentals/<%=rental.id%>/update" method="get">
  <input class="btn" type="submit" value="update" />
</form>
<hr/>


<% end %>
