

<form action="/rentals/" method="post">


  <label for="rental_reference">Rental Reference:</label>
  <input name="rental_reference" id="rental_reference" value=<%= @rental.reference_gen%>>

  <label for="rental_items">Item Rented:</label>
  <select name="rental_items" id="rental_items">
    <% @stock.each do |stock| %>
        <option><%= stock.item_name %></option>
    <% end %>
  </select>

  <label for="price">Price:</label>
  <input id="price" type="text" name="price" value=<%= @rental.rental_price %>>

  <label for="rental_date">Date Rented:</label>
  <input id="rental_date" type="text" name="rental_date" />

  <label for="customer_id">Customer:</label>
    <select name="customer_id" id="customer_id">
      <% @customer.each do |customer| %>
          <option value=<%= customer.id %>><%= customer.name %></option>
      <% end %>
    </select>

 <label for="stock_id">Stock Reference:</label>
    <input id="stock_id" type="text" name="stock_id" value=<%= @rental.stock_id %>>


  <input type="submit" value="Add Rental">

</form>
