<form method="post" action="/stock/<%=@rentals.id%>/update">
<label for="item">Rental Name:</label>
<input id="item" type="text" name="item_name" value="<%= @rentals.item_name %>"/>

<label for="category">Category:</label>
<input id="category" type="text" name="item_category" value="<%= @rentals.item_category %>" />

<label for="price">Price:</label>
<input type="text" id="price" name="price" value="<%= @rentals.price %>" />

<label for="quantity">Quantity:</label>
<input type="text" id="quantity" name="quantity" value="<%= @rentals.quantity %>" />

<input class = "btn" type="submit" value="Update Stock Item" />

</form>
