
<div class="container">


<div class="box">
<p>Reference No.: <%=@rental.rental_reference%></p>
<p>Item No: <a href="/stock/<%= @rental.stock_id %>/show">#<%=@rental.stock_id%> - <%=@stock.item_name%></a> </p>
<p>Price: £<%= @stock.price%></p>
<p>Date Rented: <%= @rental.rental_date%></p>
<p>Rented by Customer No: <a href="/customers/<%= @rental.customer_id %>/show"> #<%= @rental.customer_id %> - <%= @customer.name%></a></p>


<form action="/rentals/<%= @rental.id %>/delete" method="POST">
  <input class="btn" type="submit" value="Delete" />
</form>
<form action="/rentals/<%= @rental.id %>/update" method="get">
  <input class="btn" type="submit" value="Update" />
</form>

</div>

</div>
