
<div class="container">



  <div class="box">

    <p id="p2">Name:</p><p> <%= @customer.name%> </p>
    <p id="p2">ID:</p><p> <%=@customer.id%></p>
    <p id="p2">Phone:</p><p> <%= @customer.phone%></p>
    <p id="p2">Address:</p><p class="p3"> <%= @customer.address%></p>


    <form action="/customers/<%= @customer.id %>/delete" method="POST">
      <input class="btn" type="submit" value="Delete" />
    </form>
    <form action="/customers/<%= @customer.id %>/update" method="get">
      <input class="btn" type="submit" value="Update" />
    </form>

  </div>
  <div class="box">
    <h2> Currently Renting: </h2>
    <h3> <pre> </h3>
    <p id="p2"><%@customer.stock_rented.each do |item| %></p><p id="p2"><%=item.item_name%></p>
    <%end%>
  </div>
</div>
